{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="col-4 mx-auto mt-5 border border-black rounded p-2 bg-light">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <input class="btn btn-primary btn-md" type="submit" value="S'incrire">
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}