<div class="col-xs-12  col-md-10 col-lg-4 col-sm-12 col-md-10 col-lg-4">
    <div class="card bg-dark text-white">
        <img class="card-img img-fluid" src="{{asset('images/articles/' ~ article.image) | imagine_filter('card') }}"
            alt="">
        <div class="card-img-overlay d-flex linkfeat">
            <a href="#" class="align-self-end">
                <span class="badge">{{article.category.libelle}}</span>
                <h4 class="card-title">{{article.title}}</h4>
                <p class="textfeat" style="display: none;">publié le
                    {{article.createdAt|date("  m/d/Y", "Europe/Paris")}}</p>
            </a>
        </div>
    </div>
</div>