{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6  py-0 pl-3 pr-1 featcard">
                <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card bg-dark text-white">
                                <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                                <div class="card-img-overlay d-flex linkfeat">
                                    <a href="#" class="align-self-end">
                                        <span class="badge">Bootdey</span>
                                        <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                                        <p class="textfeat" style="display: none;">Lorem ipsum dolor sit amet,
                                            consectetuer
                                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-white">
                                <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                                <div class="card-img-overlay d-flex linkfeat">
                                    <a href="#" class="align-self-end">
                                        <span class="badge">Bootdey</span>
                                        <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                                        <p class="textfeat" style="display: none;">Lorem ipsum dolor sit amet,
                                            consectetuer
                                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-white">
                                <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                                <div class="card-img-overlay d-flex linkfeat">
                                    <a href="#" class="align-self-end">
                                        <span class="badge">Bootdey</span>
                                        <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                                        <p class="textfeat" style="display: none;">Lorem ipsum dolor sit amet,
                                            consectetuer
                                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-white">
                                <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                                <div class="card-img-overlay d-flex linkfeat">
                                    <a href="#" class="align-self-end">
                                        <span class="badge">Industri</span>
                                        <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                                        <p class="textfeat" style="display: none;">Lorem ipsum dolor sit amet,
                                            consectetuer
                                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-white">
                                <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                                <div class="card-img-overlay d-flex linkfeat">
                                    <a href="#" class="align-self-end">
                                        <span class="badge">Bootdey</span>
                                        <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                                        <p class="textfeat" style="display: none;">Lorem ipsum dolor sit amet,
                                            consectetuer
                                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-white">
                                <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                                <div class="card-img-overlay d-flex linkfeat">
                                    <a href="#" class="align-self-end">
                                        <span class="badge">Bootdey</span>
                                        <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                                        <p class="textfeat" style="display: none;">Lorem ipsum dolor sit amet,
                                            consectetuer
                                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 py-0 px-1 d-none d-lg-block">
                <div class="row">
                    <div class="col-6 pb-2 mg-1	">
                        <div class="card bg-dark text-white">
                            <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                            <div class="card-img-overlay d-flex">
                                <a href="#" class="align-self-end">
                                    <span class="badge">Finansial</span>
                                    <h6 class="card-title">BI Atur Standarisasi QR Code</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pb-2 mg-2	">
                        <div class="card bg-dark text-white">
                            <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                            <div class="card-img-overlay d-flex">
                                <a href="#" class="align-self-end">
                                    <span class="badge">Industri</span>
                                    <h6 class="card-title">PTSP BP Batam Masuk 10 Terbaik di Indonesia</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pb-2 mg-3	">
                        <div class="card bg-dark text-white">
                            <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                            <div class="card-img-overlay d-flex">
                                <a href="#" class="align-self-end">
                                    <span class="badge">Ekspor</span>
                                    <h6 class="card-title">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pb-2 mg-4	">
                        <div class="card bg-dark text-white">
                            <img class="card-img img-fluid" src="https://via.placeholder.com/350" alt="">
                            <div class="card-img-overlay d-flex">
                                <a href="#" class="align-self-end">
                                    <span class="badge">Pertumbuhan Ekonomi</span>
                                    <h6 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



//
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card card-small">
                <div class="thumbnail">
                    <img alt="Opt alp thumbnail" src="https://via.placeholder.com/300x230/20B2AA/000000">
                    <a href="#/product/awesome-landing-page">
                        <div class="thumb-cover"></div>
                    </a>
                    <div class="details">
                        <div class="user">
                            <div class="user-photo">
                                <img alt="Thumb" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                            <div class="name">User </div>
                        </div>
                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 1124</b>
                            <b class="comments-icon"><i class="fa fa-comment"></i> 10</b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="card-info">
                    <div class="moving">
                        <a href="#/product/awesome-landing-page">
                            <h3>Awesome Product 1</h3>
                            <p>Be happy with this awesome product, bootstrap rules, hit the ground with the power.</p>
                        </a>
                        <b class="actions">
                            <a href="#/product/awesome-landing-page">Details</a>
                            <b class="separator">|</b>
                            <a class="blue-text" href="#/live/awesome-landing-page" target="_blank">Live Preview</a>
                        </b>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card card-small">
                <div class="thumbnail">
                    <img alt="Opt gsdp thumbnail" src="https://via.placeholder.com/300x230/87CEFA/000000">
                    <a href="#/product/get-shit-done-pro">
                        <div class="thumb-cover"></div>
                    </a>
                    <div class="details">
                        <div class="user">
                            <div class="user-photo">
                                <img alt="Thumb" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                            </div>
                            <div class="name">User 2 </div>
                        </div>
                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 169</b>
                            <b class="comments-icon"><i class="fa fa-comment"></i> 18</b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="card-info">
                    <div class="moving">
                        <a href="#/product/get-shit-done-pro">
                            <h3>Awesome product 2</h3>
                            <p>get this awesome and customisable product on your heands, stay strong with this</p>
                        </a>
                        <b class="actions">
                            <a href="#/product/get-shit-done-pro">Details</a>
                            <b class="separator">|</b>
                            <a class="blue-text" href="#/live/get-shit-done-pro" target="_blank">Live Preview</a>
                        </b>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card card-small">
                <div class="thumbnail">
                    <img alt="Coming sssoon thumbnail" src="https://via.placeholder.com/300x230/FFA07A/000000">
                    <a href="#/product/coming-sssoon-page">
                        <div class="thumb-cover"></div>
                    </a>
                    <div class="details">
                        <div class="user">
                            <div class="user-photo">
                                <img alt="Thumb" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                            </div>
                            <div class="name">User </div>
                        </div>
                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 8998</b>
                            <b class="comments-icon"><i class="fa fa-comment"></i> 46</b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="card-info">
                    <div class="moving">
                        <a href="#/product/coming-sssoon-page">
                            <h3>Awesome product</h3>
                            <p>Free awesome product, the force is on it, the dark side of the force</p>
                        </a>
                        <b class="actions">
                            <a href="#/product/coming-sssoon-page">Details</a>
                            <b class="separator">|</b>
                            <a class="blue-text" href="#/live/coming-sssoon-page" target="_blank">Live Preview</a>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <section class="m-4 p-3">
        <div class="text-center m-2">
            <h2> Les séries </h2>
        </div>
        <div class="row">
            <div class="card-deck">

                {% for serie in series %}

                {% include "shared/_card.html.twig" with { 'article' : serie} %}

                {% endfor %}

            </div>

        </div>
    </section>


    <section class="m-4 p-3">
        <div class="text-center m-2">
            <h2> Les films </h2>
        </div>
        <div class="row">
            <div class="card-deck">

                {% for film in films %}

                {% include "shared/_card.html.twig" with { 'article' : film} %}

                {% endfor %}

            </div>

        </div>
    </section>



    <section class="m-4 p-3">
        <div class="text-center m-2">
            <h2> Les animés </h2>
        </div>
        <div class="row">
            <div class="card-deck">

                {% for anime in animes %}

                {% include "shared/_card.html.twig" with { 'article' : anime} %}

                {% endfor %}

            </div>

        </div>
    </section>


</div>








{% endblock %}