{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container">
    <section class="m-4 p-3">
        <div class="text-center m-2">
            <h2> Les séries </h2>
        </div>
        <div class="row">
            <div class="card-deck">

                {% for serie in series %}

                {% include "shared/_card.html.twig" with { 'article' : serie} %}

                {% endfor %}

            </div>

        </div>
    </section>


    <section class="m-4 p-3">
        <div class="text-center m-2">
            <h2> Les films </h2>
        </div>
        <div class="row">
            <div class="card-deck">

                {% for film in films %}

                {% include "shared/_card.html.twig" with { 'article' : film} %}

                {% endfor %}

            </div>

        </div>
    </section>



    <section class="m-4 p-3">
        <div class="text-center m-2">
            <h2> Les animés </h2>
        </div>
        <div class="row">
            <div class="card-deck">

                {% for anime in animes %}

                {% include "shared/_card.html.twig" with { 'article' : anime} %}

                {% endfor %}

            </div>

        </div>
    </section>


</div>








{% endblock %}