{% extends 'base.html.twig' %}

{% block title %}Affichage par categorie{% endblock %}

{% block body %}

<div class="container mx-auto bg-gray">

    <div class="text-center  my-4 ">
        <h2 class="shadow-lg "> {{ libelle }}</h2>
    </div>



    <div class="text-center ">

    </div>
    <div class="row my-3 ">
        <div  class="card-deck my-5 ">

            {% for article in articles %}

            {% include "shared/_card.html.twig" with {'article' : article} %}

            {% endfor %}


        </div>

    </div>





</div>



<div class="pagination">
    <div class="mx-auto">


        {{ knp_pagination_render(articles) }}
    </div>
</div>



{% endblock %}