<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation par mail</title>
</head>
<body>
    <h1>Veuillez Confirmez votre compte</h1>
    <p>Vous avez crée un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer !</p>
    <p><a href="{{absolute_url(path('confirmAccount', {'token': token , 'username': username} ))}}">Activer mon
            compte</a>
    </p>
</body>
</html>